@import "tailwindcss";
font
.ibm-plex-sans-thai-thin {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-sans-thai-extralight {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-thai-light {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 150;
    font-style: normal;
}

.ibm-plex-sans-thai-regular {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 150;
    font-style: normal;
}

.ibm-plex-sans-thai-medium {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-sans-thai-semibold {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-sans-thai-bold {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 500;
    font-style: normal;
}




.section1-box {
    background-color: rgb(255, 227, 208);
}

.section1-name {
    text-align: center;
    color: blue;
    font-size: 60px;
}

.section1-meta-data {
    text-align: center;
    color: blue;
    font-size: 30px;
}

.section1-profile-img {
    width: 30%;
    margin-left: 35%;
    border: solid 2px black
}

.section1-caption {
    text-align: center;
    color: blue;
    font-size: 25px;
}

.section2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 98, 222);
    text-align: center;
}

.section2-contact-link {
    color: white;
    text-align: center;
    font-size: 80px;
}
.section3-box {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.section3-box-a {
    width: 100%;
    background-color: rgb(206, 195, 195);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: flex-start;
}
.section3-box-b {
    width: 100%;
    background-color: rgb(195, 195, 206);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: flex-start;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menu-section {
    display: flex;
    justify-content: center;
    background-color: rgb(112, 165, 233);
}
.menu-item{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.font-title{
    font-size: 50px;
    color: blue;
    text-align: center;
    justify-content: center;
}